<h1> 네이버 검색</h1>
<form action= "http://search.naver.com/search.naver">
    <input type="text" name="query">
    <input type = "submit">
</form>
<h1>다음검색</h1>
<form>
    
</form>
<h1>구글검색</h1>
<form>
    
</form>